.this-is-field {
    border: 2px dashed green !important;
}

.this-is-ad {
    border: 2px dashed blue !important;
    position: relative;
}

.this-is-error {
    border: 2px dashed red !important;
}

.this-is-warn {
    border: 2px dashed purple !important;
}

.this-is-ad:after {
    padding: 3px;
    background: blue;
    color: #fff;
    content: attr(data-ad);
    position: absolute;
    left: 0;
    top: 0;
}